.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
[class^="col-md-"],
[class*=" col-md-"]{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
}
.col-md-12 {
  width: 100%;
}
.col-md-11 {
  width: 91.66666667%;
}
.col-md-10 {
  width: 83.33333333%;
}
.col-md-9 {
  width: 75%;
}
.col-md-8 {
  width: 66.66666667%;
}
.col-md-7 {
  width: 58.33333333%;
}
.col-md-6 {
  width: 50%;
}
.col-md-5 {
  width: 41.66666667%;
}
.col-md-4 {
  width: 33.33333333%;
}
.col-md-3 {
  width: 25%;
}
.col-md-2 {
  width: 16.66666667%;
}
.col-md-1 {
  width: 8.33333333%;
}
.col-md-offset-12 {
  margin-left: 100%;
}
.col-md-offset-11 {
  margin-left: 91.66666667%;
}
.col-md-offset-10 {
  margin-left: 83.33333333%;
}
.col-md-offset-9 {
  margin-left: 75%;
}
.col-md-offset-8 {
  margin-left: 66.66666667%;
}
.col-md-offset-7 {
  margin-left: 58.33333333%;
}
.col-md-offset-6 {
  margin-left: 50%;
}
.col-md-offset-5 {
  margin-left: 41.66666667%;
}
.col-md-offset-4 {
  margin-left: 33.33333333%;
}
.col-md-offset-3 {
  margin-left: 25%;
}
.col-md-offset-2 {
  margin-left: 16.66666667%;
}
.col-md-offset-1 {
  margin-left: 8.33333333%;
}
.col-md-offset-0 {
  margin-left: 0;
}
@media (max-width: 768px) {
  [class^="col-md-"],
  [class*=" col-md-"]{
    width: 100%;
  }
  [class^="col-md-offset-"],
  [class*=" col-md-offset-"]{
    margin-left:0;
  }
}